@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

* {
  margin: 0;
  padding: 0;
}

html {
  margin: 2rem auto;
  font-family: "Play", sans-serif;
  max-width: 1000px;
}

body {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(52, 49, 56);
}

ol,
ul {
  padding-left: 1rem;
}

.board-row {
  height: 33.33%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 1rem;
}

.square {
  background: rgb(230, 230, 230);
  border: 1px solid #999;
  float: left;
  font-size: 120px;
  font-weight: bold;
  line-height: 2.1rem;
  height: 100%;
  margin-right: -0.1rem;
  margin-top: -0.1rem;
  padding: 0;
  text-align: center;
  width: 33.33%;
  color: rgb(41, 38, 44);
  transition: all 0.25s ease-out;
}

.square:hover {
  background: rgb(210, 210, 210);
}

.square.winningSquare {
  color: rgb(255, 0, 0);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  height: fit-content;
}

.game-board {
  height: fit-content;
  width: 400px;
}

.game-board > div {
  height: 400px;
}

.game-info {
  font-size: 2rem;
  color: white;
  margin-left: 20px;
  height: fit-content;
  padding: 1rem;
  width: 460px;
  box-sizing: border-box;
  border-top: 0.15rem white solid;
  border-bottom: 0.15rem white solid;
}

.game-info button {
  background-color: rgb(150, 150, 150);
  padding: 0.5rem;
  font-family: "Play", sans-serif;
  color: white;
  font-size: 1rem;
  outline: none;
  border-radius: 0.25rem;
  transition: all 0.25s ease-out;
}

.game-info button:hover {
  background-color: rgb(119, 119, 119);
}

.game-info li {
  font-family: "Play", sans-serif;
  font-size: 1rem;
}

.game-info li > button {
  width: 400px;
  text-align: left;
}

.game-info button.activeListButton {
  font-weight: bold;
}

.toggleButton {
  margin: 0.5rem auto;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.game-info::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.game-info {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@media screen and (max-width: 1000px) {
  .game {
    flex-direction: column;
    align-items: center;
  }

  .game-board {
    margin: 1rem auto;
  }

  .game-info {
    margin: 0 auto 1rem;
  }
}
