body {
  font: 1rem "Century Gothic", Futura, sans-serif;
  margin: 20px;
  height: 100vh;
  display: flex;
  justify-content: center;
  /* justify-content: flex-start; */
  align-items: center;
  /* align-items: flex-start; */
  background-color: rgb(52, 49, 56);
}

ol, ul {
  padding-left: 1rem;
}

.board-row {
  height: 33.33%;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 1rem;
}

.square {
  background: rgb(230, 230, 230);
  border: 1px solid #999;
  float: left;
  font-size: 15vh;
  font-weight: bold;
  line-height: 2.1rem;
  height: 100%;
  margin-right: -0.1rem;
  margin-top: -0.1rem;
  padding: 0;
  text-align: center;
  width: 33.33%;
  color: rgb(41, 38, 44);
}

.square.winningSquare {
  color: rgb(255, 0, 0);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
  height: fit-content;
}

.game-board {
  height: fit-content;
  width: 50vh;
}

.game-board > div {
  height: 50vh;
}

.game-info {
  color: white;
  margin-left: 20px;
  height: fit-content;
  padding: 1rem;
  min-width: fit-content;
  width: max-content;
  box-sizing: border-box;
  border-top: 0.15rem white solid;
  border-bottom: 0.15rem white solid;
}

.game-info button {
  background-color: rgb(150, 150, 150);
  color: white;
  font: 3vh "Century Gothic", Futura, sans-serif;
  outline: none;
  border-radius: 0.25rem;
}

.game-info li {
  font: 3vh "Century Gothic", Futura, sans-serif;
}

.game-info button.activeListButton {
  font-weight: bold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.game-info::-webkit-scrollbar {
display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.game-info {
-ms-overflow-style: none;  /* IE and Edge */
scrollbar-width: none;  /* Firefox */
}